<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <nav class="navbar">
        <a href="/products">Tienda</a>
        <a href="/realtimeproducts">Gestión en Vivo</a>
        <a href="/carts/a1b2c3d4-e5f6-7890-1234-567890abcdef">Mi Carrito</a>
    </nav>

    <main>
        {{{body}}}
    </main>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/realtime.js"></script>
</body>
</html>