<div class="welcome-container">
    <h1>{{title}}</h1>
    <p>Explora nuestros productos y encuentra lo que necesitas.</p>
</div>

<div class="sphere-container">
    <div class="sphere">
  <div><p>Tienda</p></div>
        <div><p>Ofertas</p></div>
        <div><p>Backend</p></div>
        <div><p>Node.js</p></div>
        <div><p>Express</p></div>
        <div><p>HBS</p></div>
    </div>
</div>